HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
maven-wrapper.jar
/logs/application.log
/logs/2020-11/spring-boot-logger-log4j2--12-November-2020-1.log.gz
/logs/2020-11/spring-boot-logger-log4j2--12-November-2020-2.log.gz
/logs/2020-11/spring-boot-logger-log4j2--12-November-2020-3.log.gz
/logs/2020-11/spring-boot-logger-log4j2--12-November-2020-4.log.gz
/logs/2020-11/spring-boot-logger-log4j2--12-November-2020-5.log.gz
/logs/2020-11/spring-boot-logger-log4j2--12-November-2020-6.log.gz
/logs/2020-11/spring-boot-logger-log4j2--12-November-2020-7.log.gz
